.hidden {
  display: none;
}
.show {
  display: block;
}
body,
button {
  font-family: "Sora", sans-serif;
}
.gridPage1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  row-gap: 15px;
}
.mainHeading {
  font-size: 40px;
  font-weight: 600;
  margin: 30px 0 50px;
}
.fruitCard {
  width: 100%;
  aspect-ratio: 2/1;
  background-color: #00000010;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 1.03;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
.fruitImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.fruitName {
  position: absolute;
  padding: 10px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  width: 100%;
  margin: 0;
  text-align: center;
  color: white;
  font-weight: 600;
}
.buttons {
  background: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.15s ease-in;
  font-weight: 600;
  color: white;
  width: 100%;
  font-size: 24px;
}
.buttons:hover {
  scale: 1.02;
}
.bothButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 20px 0;
}
.presentB,
.absentB {
  border: 3px solid;
  border-image: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  border-image-slice: 1; /* Ensures the entire border is covered by the gradient */
  background: white;
  padding: 10px;
  color: green;
}
.absentB {
  border-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  border-image-slice: 1; /* Ensures the entire border is covered by the gradient */
  color: red;
}
.buttons i {
  margin-left: 20px;
}
.resultPage {
  position: relative;
  overflow: hidden;
}
.resultImage {
  height: calc(100vh - 32px);
  width: calc(100vw - 32px);
  /* height: 100%;
  width: 100%; */
  object-fit: cover;
}
.resultData {
  position: absolute;
  background-color: #00000010;
  backdrop-filter: blur(2px);
  inset: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resultDataInner {
  width: 50%;
  height: fit-content;
  animation: fadeIn 1.5s;
}
.resultHead {
  color: white;
}

@media (max-width: 500px) {
  .mainHeading {
    font-size: 1.5rem;
    margin: 20px 0 30px 0;
  }
  .fruitName {padding:5px}
  .bothButton {
    flex-direction: column;
    gap: 20px;
  }
  .buttons {
    font-size: 1.25rem;
  }
  .resultHead {
    font-size: 1.5rem;
  }
  .resultDataInner {
    width: 80%;
  }
  .resultImage {
    object-fit: contain;
    width: calc(100vw - 16px);
    height: calc(100vh - 25px);
  }
}
